<!DOCTYPE html>
<html>

<body>


    <div class="container">


      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>Rails Tutorial!</h1>       
      </div>


      <div class="row">
        <div class="col-lg-4">
          <h2>Hello, Rails!</h2>
          <p><%= link_to 'Articles', controller: 'articles' %></p>
         
          <p><a class="btn btn-primary" href="/articles" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Select 2 Implementation JSON Testing</h2>
          <p>Select 2 Implementation JSON Testing</p>
          <p><a class="btn btn-primary" href="/selectjsontest" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Display Random Record</h2>
          <p>Get a random record and display</p>
          <p><a class="btn btn-primary" href="/getrandomrecord" role="button">View details &raquo;</a></p>
        </div>
      </div>


      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Professors and Expertise Checkboxes</h2>
          <p>As seen on this <a href='http://www.sitepoint.com/save-multiple-checkbox-values-database-rails'>blog</a>. We will learn how to attached textboxes to parent table.</p>
          <p><a class="btn btn-primary" href="/professors" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Select 2 Implementation JSON Data</h2>
          <p>Select 2 Implementation JSON Data </p>
          <p><a class="btn btn-primary" href="/selectjson" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>User Maintenance</h2>
          <p><a href="users" target="_self"> User Listing </a></p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>



       <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Loading Json from Table</h2>
          <p>Will display a json results from table</p>
          <p><a class="btn btn-primary" href="/jsonoutput" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Interceptor Implementation</h2>
          <p>Learn javascript interceptors</p>
          <p><a class="btn btn-primary" href="/showintercept" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Select 2 Implementation</h2>
          <p>Select 2 Implementations</p>
          <p><a class="btn btn-primary" href="/select" role="button">View details &raquo;</a></p>
        </div>
      </div>



       <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Loading JSON from URL</h2>
          <p>
    
    Sources <br>
    Calling API - https://www.twilio.com/blog/2015/10/4-ways-to-parse-a-json-api-with-ruby.html
    <br>
    SSL Error Fix - http://stackoverflow.com/questions/5711190/how-to-get-rid-of-opensslsslsslerror
    https://github.com/plataformatec/devise/wiki/Example-Applications
    https://github.com/plataformatec/devise

          </p>
          <p><a class="btn btn-primary" href="/jsonfromurl" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Loading JSON from URL with Token Headers</h2>
          <p>
          Loading JSON from URL with Token Headers
          </p>
          <p><a class="btn btn-primary" href="/jsonwithtoken" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>Loading JSON from URL with Token Headers with rest client</h2>
          <p>Loading JSON from URL with Token Headers with rest client</p>
          <p><a class="btn btn-primary" href="/jsonwithrestclient" role="button">View details &raquo;</a></p>
        </div>
      </div>


      <div class="row">
         <div class="col-lg-4">
          <h2>Creating a Task</h2>
          <p>I want to run rails in a different port other than 3000.  This <a href='https://stackoverflow.com/questions/3842818/how-to-change-rails-3-server-default-port-in-develoment' target='_blank'>article</a> can create task port and run rails.  This article show how to create and run a <a href="http://cobwwweb.com/how-to-write-a-custom-rake-task" target='_blank'>task</a> </p>
          <p><a class="btn btn-primary" href="/http://cobwwweb.com/how-to-write-a-custom-rake-task" target='_blank' role="button">View details &raquo;</a></p>
        </div>
      </div>



      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Company 2017</p>
      </footer>

    </div> <!-- /container -->





</body>
</html>
