<!DOCTYPE html>
<html>
<head>
  <style>

    h1 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 26.4px;
    }

    h3 {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: 500;
      line-height: 15.4px;
    }

    p {
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 20px;
    }

    button.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    button.accordion.active, button.accordion:hover {
      background-color: #ddd;
    }

    button.accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    button.accordion.active:after {
      content: "\2212";
    }

    div.panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  </style>
</head>
<body>

<h1>Rails Miscellaneous Codes</h1>
<p></p>
<button class="accordion">Implement Interceptor</button>
<div class="panel">
  <p>

    <a href="/showintercept">Show Intercept Window</a>

  </p>
</div>


<button class="accordion"> Loading JSON from URL</button>
<div class="panel">
  <p>
    <a href="/jsonfromurl" target="_self"> Loading JSON from URL </a>

    <br>
    Sources <br>
    Calling API - https://www.twilio.com/blog/2015/10/4-ways-to-parse-a-json-api-with-ruby.html
    <br>
    SSL Error Fix - http://stackoverflow.com/questions/5711190/how-to-get-rid-of-opensslsslsslerror
    https://github.com/plataformatec/devise/wiki/Example-Applications
    https://github.com/plataformatec/devise

  </p>
</div>


<button class="accordion"> Loading JSON from table</button>
<div class="panel">
  <p>

    <a href="/jsonoutput" target="_self"> Loading JSON from table </a>
  </p>
</div>


<button class="accordion"> Loading JSON from URL with Token Headers</button>
<div class="panel">
  <p><a href="/jsonwithtoken" target="_self"> Loading JSON from URL with Token Headers </a>
  </p>
</div>


<button class="accordion">Loading JSON from URL with Token Headers with rest client</button>
<div class="panel">
  <p><a href="/jsonwithrestclient" target="_self"> Loading JSON from URL with Token Headers with rest client </a>
  </p>
</div>


<button class="accordion">Display Random Record</button>
<div class="panel">
  <p><a href="/getrandomrecord" target="_self"> Display Random Record </a>
  </p>
</div>


<button class="accordion">Select 2 Implementation</button>
<div class="panel">
  <p><a href="/select" target="_self"> Select 2 Implementation </a>
  </p>
</div>


<button class="accordion">Select 2 Implementation JSON Testing</button>
<div class="panel">
  <p>
    <a href="/selectjsontest" target="_self"> Select 2 Implementation JSON Testing</a>
  </p>
</div>


<button class="accordion">Hello, Rails!</button>
<div class="panel">
  <p><%= link_to 'My Blog', controller: 'articles' %>
  </p>
</div>

<button class="accordion">User Maintenance</button>
<div class="panel">


  <a href="users" target="_self"> User Listing </a>
  </p>
</div>


<button class="accordion">Select 2 Implementation JSON Data</button>
<div class="panel">
  <p><a href="/selectjson" target="_self"> Select 2 Implementation JSON Data </a>
  </p>
</div>


<button class="accordion">Professor and expertise checkboxes</button>
<div class="panel">
  <p>
    <p><a href="/professors" target="_self"> Professor and Checkboxes</a>
    http://www.sitepoint.com/save-multiple-checkbox-values-database-rails
  </p>
</div>


<button class="accordion">TitleHere</button>
<div class="panel">
  <p>
    ContentHere
  </p>
</div>


<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        }
    }
</script>

</body>
</html>
